* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0px 16px;
}

header {
  background-color: #c3dbd9;
  margin: auto -16px;
  padding: 16px 32px;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #3e497a;
  font-family: "McLaren", cursive;
  font-weight: 200;
  display: flex;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main";
  grid-gap: 10px;
  background-color: #d1d1d1;
  padding: 10px;
}

.grid-container > div {
  background-color: #efefef;

  padding: 20px 0;
  font-size: 30px;
}
.align {
  text-align: center;
}

.grid-container > div > li {
  margin-left: 10px;
}
.grid-container > div > h4 {
  margin-left: 10px;
}
button {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-bottom: 20px;
}
.buttons {
  align-items: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  flex-direction: column;
  display: flex;
  width: 100%;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.buttons:hover,
.buttons:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.buttons:hover {
  transform: translateY(-1px);
}

.buttons:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.icon {
  display: flex;
  width: 10%;
  align: left;
}
.btnText {
  flex-direction: row;
}
.recent-layout {
  display: flex;
  padding: 20px;
}
.recent-layout > h4 {
  padding-left: 50px;
}
